packages/prettier-config/.prettierrc.js
packages/textlint-config/.textlintrc
packages/babel-preset/babel.config.js
packages/babel-preset/fixture/test.js
packages/babel-preset/fixture/test.ts
packages/stylelint-config/.stylelintrc.js
packages/lint-staged-config/.lintstagedrc.js
packages/eslint-config/src/global.d.ts
packages/eslint-config/src/types.d.ts
packages/eslint-config/__fixtures__/**

tsup.config.ts
pnpm-lock.yaml
